<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yct.settle.mapper.CpuConsumeNoBusMapper">
    <select id="findByWhere" resultType="com.yct.settle.pojo.CpuConsumeNoBus">
       SELECT
        PID, PSN, TIM,
        LCN, FCN, TF, FEE,
        BAL, ATT, CRN,
        XRN, DMON, EPID, ETIM,
        LPID, LTIM, TAC
        FROM
        (
          SELECT
          PID, PSN, TIM,
          LCN, FCN, TF, FEE,
          BAL, ATT, CRN,
          XRN, DMON, EPID, ETIM,
          LPID, LTIM, TAC,rownum r
          FROM T_CPU_CONSUME_NOBUS t1
          WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR}
            and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
            AND <![CDATA[rownum <= #{endNum}]]>
            and NOT EXISTS (
            SELECT 1
              FROM T_CPU_CONSUME_ERROR_NOBUS WHERE PID=t1.PID AND PSN=t1.PSN and TAC=t1.TAC
          )
        ) WHERE <![CDATA[r > #{startNum}]]>

    </select>

    <select id="countAmountAndNum" resultType="com.yct.settle.pojo.CountData">
      SELECT count(1) AS notesSum,sum(TF) AS amountSum
      from T_CPU_CONSUME_NOBUS t1
        WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR}
          and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
          and NOT EXISTS (
          SELECT 1
            FROM T_CPU_CONSUME_ERROR_NOBUS WHERE PID=t1.PID AND PSN=t1.PSN and TAC=t1.TAC
        )
    </select>

      <select id="findAllNotes" resultType="long">
        SELECT count(1) from T_CPU_CONSUME_NOBUS t1
        WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR}
        and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
        and NOT EXISTS (
          SELECT 1
            FROM T_CPU_CONSUME_ERROR_NOBUS where t1.PID=PID AND t1.PSN=PSN and TAC=t1.TAC
        )
      </select>

      <select id="findCwNotes" resultType="long">
          SELECT count(1) from
            (
              SELECT PID,PSN,TAC FROM T_CPU_CONSUME_ERROR_NOBUS WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
              INTERSECT
              SELECT PID,PSN,TAC FROM T_CPU_CONSUME_NOBUS WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
            )
      </select>

      <select id="countCwNotes" resultType="long">
            SELECT count(1) FROM T_CPU_CONSUME_ERROR_NOBUS
            WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
      </select>

</mapper>