<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yct.settle.mapper.CpuCustomerServiceMapper">
    <select id="findList" resultType="com.yct.settle.pojo.CpuCustomerService">
      SELECT
        PID, PSN, TIM,
        LCN, FCN, TF, FEE,
        BAL, TT, ATT, CRN,
        XRN, EPID, ETIM, LPID,
        LTIM,TAC
        FROM T_CPU_CUSTOMER_SERVICE
         WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
    </select>

    <select id="countInvestAmountAndNum" resultType="com.yct.settle.pojo.CountData">
      SELECT count(1) AS notesSum,sum(TF) AS amountSum
          from T_CPU_CUSTOMER_SERVICE
          WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR} AND ATT='14'
    </select>

    <select id="countConsumeAmountAndNum" resultType="com.yct.settle.pojo.CountData">
      SELECT count(1) AS notesSum,sum(TF) AS amountSum
          from T_CPU_CUSTOMER_SERVICE
          WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR} AND ATT!='14'
    </select>

</mapper>