<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yct.settle.mapper.CpuInvestMapper">
    <select id="findByWhere" resultType="com.yct.settle.pojo.CpuInvest">
       SELECT
          PID, PSN, TIM,
          LCN, FCN, TF, FEE,
          BAL, TT, ATT, CRN,
          XRN, EPID, ETIM, LPID,
          LTIM, AREA,TAC
          FROM
          (
            SELECT
              PID, PSN, TIM,
              LCN, FCN, TF, FEE,
              BAL, TT, ATT, CRN,
              XRN, EPID, ETIM, LPID,
              LTIM, AREA,TAC,rownum r
            FROM T_CPU_INVEST
            WHERE FLAG = '1'
                  AND SETTLE_DATE=#{date,jdbcType=VARCHAR}
                  and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
                  AND <![CDATA[rownum <= #{endNum}]]>
          ) WHERE <![CDATA[r > #{startNum}]]>
    </select>

    <select id="countData" resultType="com.yct.settle.pojo.CountData">
        SELECT count(1) AS notesSum,sum(TF) AS amountSum from T_CPU_INVEST
        WHERE FLAG='1' AND SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
    </select>

    <select id="countAllData" resultType="com.yct.settle.pojo.CountData">
        SELECT count(1) AS notesSum,sum(TF) AS amountSum
              from T_CPU_INVEST
              WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
    </select>

    <select id="findAllNotes" resultType="long">
        SELECT count(1) from T_CPU_INVEST
        WHERE FLAG='1' and SETTLE_DATE=#{date,jdbcType=VARCHAR} and ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
    </select>

</mapper>