<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yct.settle.mapper.FileCheckErrorMapper">

    <insert id="insert" parameterType="com.yct.settle.pojo.FileCheckError">
        insert into T_FILE_CHECK_ERROR
        (
        SETTLE_DATE,
        ZIP_FILE_NAME,
        ZIP_FILE_TYPE,
        CARD_TYPE,
        CHECK_DATE,
        RESULT_CODE,
        RESULT_MSG,
        INPUT_INVEST_NOTES,
        INPUT_INVEST_AMOUNT,
        OUTPUT_INVEST_NOTES,
        OUTPUT_INVEST_AMOUNT,
        INPUT_ERROR_NOTES,
        OUTPUT_ERROR_NOTES,
        CONSUME_AMOUNT,
        QS_AMOUNT
        )
        values
        (
        #{settleDate,jdbcType=VARCHAR},
        #{zipFileName,jdbcType=VARCHAR},
        #{zipFileType,jdbcType=VARCHAR},
        #{cardType,jdbcType=VARCHAR},
        #{checkDate,jdbcType=TIMESTAMP},
        #{resultCode,jdbcType=VARCHAR},
        #{resultMsg,jdbcType=VARCHAR},
        #{inputInvestNotes,jdbcType=DECIMAL},
        #{inputInvestAmount,jdbcType=DECIMAL},
        #{outputInvestNotes,jdbcType=DECIMAL},
        #{outputInvestAmount,jdbcType=DECIMAL},
        #{inputErrorNotes,jdbcType=DECIMAL},
        #{outputErrorNotes,jdbcType=DECIMAL},
        #{consumeAmount,jdbcType=DECIMAL},
        #{QsAmount,jdbcType=DECIMAL}
        )
    </insert>

    <delete id="del">
        DELETE FROM T_FILE_CHECK_ERROR
        WHERE SETTLE_DATE=#{date,jdbcType=VARCHAR}
              AND ZIP_FILE_NAME=#{zipFileName,jdbcType=VARCHAR}
    </delete>

</mapper>