<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yct.settle.mapper.MCardInvestMapper">
    <select id="findByWhere" resultType="com.yct.settle.pojo.MCardInvest">
       SELECT
          PSN, LCN, FCN,
          LPID, LTIM, PID, TIM,
          TF, BAL, TT, RN,
          EPID, ETIM, TAC, APP
        FROM
        (
           SELECT
              PSN, LCN, FCN,
              LPID, LTIM, PID, TIM,
              TF, BAL, TT, RN,
              EPID, ETIM, TAC, APP,rownum r
            FROM T_MCARD_INVEST
            WHERE FLAG = '1' AND <![CDATA[rownum <= #{endNum}]]>
          ) WHERE <![CDATA[r > #{startNum}]]>

    </select>

    <select id="countData" resultType="com.yct.settle.pojo.CountData">
        SELECT count(1) AS notesSum,sum(TF) AS amountSum from T_MCARD_INVEST
        WHERE FLAG='1'
    </select>

    <select id="countAllData" resultType="com.yct.settle.pojo.CountData">
        SELECT count(1) AS notesSum,sum(TF) AS amountSum
            from T_MCARD_INVEST

    </select>

    <select id="findAllNotes" resultType="long">
        SELECT count(1) from T_MCARD_INVEST WHERE FLAG='1'
    </select>

</mapper>