<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yct.settle.mapper.SettleAuditMapper">
    <select id="countTotalAmount" resultType="java.math.BigDecimal">
        SELECT sum(TPC) from T_SETTLE_AUDIT
    </select>

</mapper>